{% extends "base.html" %}{% load static %} 

{% load crispy_forms_tags %} {% block css %}

<link href="{% static 'search.css' %}" rel="stylesheet"> 

{% endblock %} {% block content %}
    
<div class="container" style="display: flex;">


      <div class="card" style="width: 100%; text-align: center;">

          <div class="header-list">
              <div class="card-header">

                  <h2>Mes sorts</h2>
                  

                  <div>

                    <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modal-add">New Search<i
        class="fa fa-search" aria-hidden="true" style="color: rgb(0, 255, 13);"></i></a>
        
                </div>

              </div>

          </div>

          <div class="card-body">

              <table class="table table-striped table-hover table-bordered " id="search-table">

                  <thead>

                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Component</th>
                          <th scope="col">Max_level</th>
                          <th scope="col">Classes</th>
                          <th scope="col">Monsters</th>
                          <th scope="col">Url</th>
                      </tr>

                  </thead>

                  <tbody>

                    {% for object in sorts_list %}
                    <tr>
                        <td>{{object.name}}</td>
                        <td>{{object.components}}</td>
                        <td>{{object.max_level}}</td>
                        <td>{{object.classes}}</td>
                        <td>{{object.monsters}}</td>
                        <td>
                            <a href="{{object.url}}"><i
                                class="fa fa-search" aria-hidden="true" style="color: rgb(0, 140, 255);"></i></a>
                            </td>
                    </tr>
                    {% endfor %}

                  </tbody>

              </table>

          </div>

          <div class="card-footer">
          </div>


  </div>



  <div class="modal fade" id="modal-add">

    <div class="modal-dialog">

        <div class="modal-content">

            <form method="POST" class="form-signin" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-header">

                    <h5 class="modal-title">Make a new Search</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>
          
                    </button>

                </div>

                <div class="modal-body">

                    <div></div>
                    {{ form.name|as_crispy_field }}
                    {{ form.is_verbal|as_crispy_field }}
                    {{ form.is_somatic|as_crispy_field }}
                    {{ form.is_material|as_crispy_field }}
                    {{ form.max_level|as_crispy_field }}
                    {{ form.classes|as_crispy_field }}



                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
                    <button type="submit" class="btn btn-success">Search</button>

                </div>

            </form>

        </div>

    </div>

</div>
{% endblock content %}